<<<<<<< HEAD
<h1 class="header-text">Editing Quality of Life</h1>
=======
<h1>Editing form</h1>
>>>>>>> master

<div class="modal fade" id="qlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Quality of Life</h4>
        </div>
        <div class="modal-body">
          <p><strong>Current Quality of Life</strong></p>
          
          <p><strong>Why is this important?</strong>  It is not unusual for several years to have passed from the time a person filled out their living will and when it is first needed to help decide how to treat them medically.  Sometimes a person’s quality of life may have changed significantly over that time.  If their quality of life has gotten significantly worse they may now not want to be treated as aggressively as they indicated in their living will.</p>

<<<<<<< HEAD
          <p>While a person should ideally complete a new living will any time their quality of life changes significantly most people forget to do so. If you have been hospitalized and your surrogate and doctors are using your living will to help determine what care you would want it could be helpful to them if they knew that your quality of life was now much worse than when you completed your living will.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="new-form">
  <%= form_for(@user) do |f| %>
	<div class="field">
      <strong>Quality of Life</strong><br>
      <a href="#" data-toggle="modal" data-target="#qlModal">What do you mean?</a>
      <br><br>
      <%= f.radio_button :quality_of_life, 'excellent' %><strong>Excellent:</strong>  I am able to fully care for myself and have no limitations on what I am able to do.<br><br>
      <%= f.radio_button :quality_of_life, 'good' %>Good:</strong> I am able to fully care for myself and can do most things I would want to do.<br><br>
      <%= f.radio_button :quality_of_life, 'acceptable', :checked => true%><strong>Acceptable:</strong>  I need assistance with activities of daily living (bathing, dressing, using the toilet, etc.).  I am also limited in the things I can do but can still do things that are important to me.<br><br>
      <%= f.radio_button :quality_of_life, 'poor' %><strong>Poor:</strong>  I need assistance with most activities of daily living and I can do very few things that are important to me.<br><br>
      <%= f.radio_button :quality_of_life, 'unacceptable' %><strong>Unacceptable:</strong>  Most days I can’t do anything that is important to me or gives me joy.
    

    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
=======
>>>>>>> master
