<%= form_for(@fourth_scenario) do |f| %>
	<div class="field">
	    <p><strong>4. I am dying from an end-stage medical condition with no hope of improvement.</strong></p>
	    <p>If I develop an acute medical illness that may be treated, and my doctors think I have a reasonable chance of surviving the illness and leaving the hospital, I wish the following: (Check any that apply:</p>
	    <%= f.check_box :ami_cc_only %>Comfort care only<br /> 
	    <%= f.check_box :ami_cc_plus %>Comfort care, to include intravenous fluids and tube feedings<br />
	    <%= f.check_box :ami_reg_med %>Regular medical care<br /> 
	    <%= f.check_box :ami_invasive %>Invasive procedures like surgery or heart catheterizations<br />
	    <%= f.check_box :ami_respirator %>Temporary support from a respirator<br />
	    <%= f.check_box :ami_dialysis %>Temporary support<br />
	    <%= f.check_box :ami_cpr %>CPR if my heart stops<br />
	  </div>
	  <div class="field">
	    <p>If I suffer some form of brain injury (stroke, bleeding, cardiac arrest, etc.) that makes it unlikely I’ll ever regain the ability to make decisions for myself, I wish the following: (Check any that apply):</p>
	    <%= f.check_box :bi_cc_only %>Comfort care only <br />
	    <%= f.check_box :bi_cc_plus %>Comfort care, to include intravenous fluids and tube feedings<br />
	    <%= f.check_box :bi_reg_med %>Regular medical care <br />
	    <%= f.check_box :bi_invasive %>Invasive procedures like surgery or heart catheterizations<br />
	    <%= f.check_box :bi_respirator %>Temporary support from a respirator<br />
	    <%= f.check_box :bi_dialysis %>Temporary support<br />
	    <%= f.check_box :bi_cpr %>CPR if my heart stops<br />
	</div>



	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>